body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Camphor, Open Sans, Segoe UI, sans-serif;
  font-weight: 400;
  /* text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -moz-osx-font-smoothing: grayscale; */
}

body,
html {
  color: #303133;
}

/* Header */
#red-ui-header {
  background: #f3f3f3;
  color: #303133;
  border-bottom: none;
}

#red-ui-header .red-ui-header-toolbar li {
  margin-left: 4px;
}

#red-ui-header .button {
  border: 0;
}

#red-ui-header ul.red-ui-menu-dropdown {
  background: white;
  border: 1px solid #323232;
}

#red-ui-header ul.red-ui-menu-dropdown > li > a:hover,
#red-ui-header ul.red-ui-menu-dropdown > li > a:focus,
#red-ui-header ul.red-ui-menu-dropdown > li:hover > a,
#red-ui-header ul.red-ui-menu-dropdown > li:focus > a {
  background: #f4f4f5 !important;
}

#red-ui-header ul.red-ui-menu-dropdown li a {
  color: #1f2f3d;
}

#red-ui-header #usermenu-item-username > .red-ui-menu-label {
  color: #1f2f3d;
}

/* Logo */
#red-ui-header span.red-ui-header-logo img {
  height: 22px;
  margin-top: -4px;
}

/* Deploy */
#red-ui-header .button-group {
  margin: 0;
}

#red-ui-header .button-group > a {
  line-height: 20px;
}

#red-ui-header .red-ui-deploy-button {
  color: #fff;
  border: 1px solid rgb(255, 165, 0);
  background: rgb(255, 165, 0);
  border-color: rgb(255, 165, 0);
  border-radius: 0px;
  text-transform: uppercase;
}

#red-ui-header .red-ui-deploy-button:hover {
  color: #fff;
  background-color: rgb(255, 140, 0);
  border-color: rgb(255, 140, 0);
}

#red-ui-header #red-ui-header-button-deploy.disabled {
  color: #fff;
  background-color: #c7c7c7;
  border-color: #aaa;
}

#red-ui-header #red-ui-header-button-sidemenu {
  color: #303133;
}

/* Node Palette */
.red-ui-palette-node {
  border-radius: 0px;
  border: 1px solid #999;
}

.red-ui-palette-port {
  border-radius: 0px;
}

.red-ui-palette-icon-container {
  background-color: rgba(0, 0, 0, 0.1);
}

/* Node UI */
.red-ui-flow-node rect {
  rx: 0;
}

.red-ui-flow-node-icon-shade {
  fill-opacity: 0.1;
}

/* Sidebar */
.red-ui-sidebar-control-left,
.red-ui-sidebar-control-right {
  border-radius: 0px;
}

/* Kyuda */
/* .kyuda-button {
  display: inline-block;
  line-height: 1;
  white-space: nowrap;
  cursor: pointer;
  background: #c7c7c7;
  border: 1px solid #aaa;
  border-color: #aaa;
  color: #606266;
  -webkit-appearance: none;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  margin: 0;
  transition: 0.1s;
  font-weight: 500;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  padding: 4px 20px;
  font-size: 14px;
  border-radius: 0px;
  text-transform: uppercase;
}

.kyuda-button--primary {
  color: #fff;
  background-color: #c7c7c7;
  border-color: #aaa;
}

.kyuda-button--primary:hover {
  background: rgb(236 72 153);
  border-color: rgb(236 72 153);
  color: #fff;
} */
